body , html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
}

.card {
    height: 80%;
    width: 80%;
    background-color: white;
    display: flex;
    gap: 10px;
    border: 2px solid #333;
    border-radius: 10px;
}

.card .left {
    height: 100%;
}

.card .left img {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background: #333;
    color: white;
}

button a {
    text-decoration: none;
    font-size: 2em;
    color: white;
}